<app-list></app-list>
<input type="text" class="form-control" #task />
<button
  type="button"
  class="btn btn-primary mt-4"
  (click)="addTask(task.value)"
>
  Aggiungi Task
</button>

<div class="mt-4 text-center">
  <ul *ngFor="let task of tasks">
    <li class="d-inline" *ngIf="task.completed == false">
      {{ this.tasks[task.id].title }}
      <button
        class="btn btn-success"
        type="button"
        (click)="completeTask(task.id)"
      >
        X
      </button>
    </li>
  </ul>
</div>
