h1 {
    background-color: rgba(127, 255, 212, 0.515);
    border-radius: 30px;
    margin-top: 20px;
    color: rgba(128, 0, 128, 0.544);
}

h3 {
    margin-top: 30px;
    background-color: aquamarine;
}